node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/storybook-static

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

*storybook.log

devenv.lock
package-lock.json

.devenv/
yarn.lock
.devenv.flake.nix

# Claude Code
.claude/settings.local.json

# personal notes file
notes.md
