@import 'tailwindcss';

[data-theme='light'] {
	--bg: #fcf8e3;
	--text: #333333;
	--subtext: #666666;
	--brand: #826ef1;
	--link: #324abf;
	--hover-link: #2537b6;
}

[data-theme='dark'] {
	--bg: #333333;
	--text: #fcf8e3;
	--subtext: #c1c1c1;
	--brand: #1b0a7d;
	--link: #6e84f1;
	--hover-link: #556ce6;
}

@theme {
	--color-bg: var(--bg);
	--color-text: var(--text);
	--color-subtext: var(--subtext);
	--color-brand: var(--brand);
	--color-link: var(--link);
	--color-hover-link: var(--hover-link);
}

nav {
	background-color: var(--brand);
}

body {
	background-color: var(--bg);
	color: var(--text);
}

a {
	color: var(--link);
}

a:hover {
	text-decoration: underline;
	color: var(--hover-link);
}

h1 {
	margin-bottom: 1rem;
	font-size: 1.5rem;
	font-weight: 600;
}
